@import "reset.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #A1A1A1;
    background-color: #eee;
}
.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.container_header {
    max-width: 1420px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
}
.jcsb {
    justify-content: space-between;
}
.aic {
    align-items: center;
}

.header {
    background-color: #fff;
    padding: 19px 0;
    &-nav {
        &__list {
            display: flex;
            position: relative;
            padding-left: 29px;
            &::before {
                position: absolute;
                content: '';
                background-image: url(../images/stars-icon.svg);
                width: 16px;
                height: 16px;
                left: 0;
                top: 2px;
            }
        }
        &__list-item + &__list-item {
            margin-left: 40px;
        }
        &__list-link {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 1.96px;
            text-transform: uppercase;
            color: #011F3A;
            text-decoration: none;
        }
        &__list-link_first {
            border-bottom: 1px solid #011F3A;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        &-link {
            margin-right: 25px;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 1.96px;
            text-transform: uppercase;
            color: #011F3A;
            text-decoration: none;
        }
    }
}