html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #A1A1A1;
  background-color: #eee;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.container_header {
  max-width: 1420px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  background-color: #fff;
  padding: 19px 0;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 29px;
}

.header-nav__list::before {
  position: absolute;
  content: '';
  background-image: url(../images/stars-icon.svg);
  width: 16px;
  height: 16px;
  left: 0;
  top: 2px;
}

.header-nav__list-item + .header-nav__list-item {
  margin-left: 40px;
}

.header-nav__list-link {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #011F3A;
  text-decoration: none;
}

.header-nav__list-link_first {
  border-bottom: 1px solid #011F3A;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right-link {
  margin-right: 25px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #011F3A;
  text-decoration: none;
}

.intro {
  background-image: url(../images/intro-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
}

.intro__title {
  font-size: 48px;
  line-height: 56px;
  color: #011F3A;
  margin-bottom: 33px;
  max-width: 480px;
  padding-top: 10%;
}

.intro__subtitle {
  font-size: 15px;
  line-height: 24px;
  color: #011F3A;
  margin-bottom: 14px;
  width: 277px;
}

.intro__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 19px 29px;
  background: #3D5675;
  border-radius: 44px;
  text-decoration: none;
  display: inline-block;
}

.partners {
  padding: 20px 0;
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */