@media (max-width: 870px) {
    .wrapper {
        flex-wrap: wrap;
    }
    .header__wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .header__logo {
        margin-bottom: 15px;
    }
    .header-nav {
        margin-bottom: 25px;
    }
    .intro {
        height: auto;
        padding-bottom: 120px;
    }
    .partners__img {
        margin: 0 auto;
    }
}
@media (max-width: 550px) {
    .header-nav__list {
        flex-direction: column;
        text-align: center;
    }
    .header-nav__list::before {
        content: '';
        display: none;
    }
    .header-nav__list-item + .header-nav__list-item {
        margin-left: 0;
    }
    .header-nav__list-item {
        padding: 10px 0;
    }
    .header-nav__list-link {
        padding: 15px 0;
    }
    .header-nav__list-link_first {
        border: none;
    }
    .header__right-link {
        margin-right: 50px;
    }
    .intro__title {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 10px;
    }
}